[submodule "steamdatabase/protobufs"]
	path = steamdatabase/protofiles
	url = https://github.com/steamdatabase/protobufs.git
[submodule "Christians-HTML-Parser"]
	path = Christians-HTML-Parser
	url = git@github.com:Christian-Stieber/Christians-HTML-Parser.git
